.book-preview {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    overflow: auto;
}

.book-image {

    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
}

.on-sale {

    position: absolute;
    text-align: center;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.61);
    border: 2px solid red;
    color: red;
}

h1 {

    align-self: center;
}

span {

    align-self: center;
    font-weight: bolder;
    margin-inline-start: 30%;
}

.price-expensive {

    color: red;
}

.price-cheap {

    color: green;
}